/*Menu*/

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 12px 15px;
    display: inline-block;
    
}


.div_desplegable {
    background-color: #f2f2f2;
    box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;

}

.div_desplegable a {
    padding: 9px 15px;
    color: white;
    display: block;
  
}

.li_desplegable:hover .div_desplegable {
    display: block;
    z-index: 1;
}

/*Menu*/

/*navegador*/
.navegador img{
    width:  15%;
}
header{
    position:sticky;
    top:0;
    background-color: #f2f2f2;
    
}

.navegador a {
    text-decoration: none;
    background-image: linear-gradient(#ff6600, #ff6600);
    background-position: 0% 70%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    position: sticky;
    top:0;
 
}
.navegador a:hover, a:focus {
    background-size: 100% 2px;
    color: #ff6600;
}
.navcontainer{
/*
    background-color: green;
    position: sticky;
    top:0;
    right: 10.4vw;
    left: 10.4vw;
    margin-right: auto;
    margin-left: auto;
*/
    position: sticky;
    top:0;
    
   
}

.navegador ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none;
    align-items: center; 
    
}
.navegador a{
    text-decoration: none;
    color: black;
    padding: 30px 25px;
    font-size: 25px;
/*    color:#ff6600;*/
    position: sticky;
    top:0;
    
}

.navegador a:hover{
    background-color: #f2f2f2;
}
/*navegador*/
/* Menu Hamburguesa */

.clase_conmutador{
    color: black;
    display:none;
}
@media  screen and (max-width:768px){
   
    .navegador ul{
        display:flex;
        flex-direction: column;
    } 
    .navegador a{
      position:static;
    }
      .navegador{
      display:none;
    }
      .clase_conmutador{
        display:block;
        display:flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 50px 20px 0px;
        font-size: 30px;

      }

}
    .desplegado{
        display:block;
    }
/* Menu hamburguesa */


/* principal */
.wrapper {
    max-width: 1200px;
    margin: auto;
    background-color: #f2f2f2;;
}

.portada {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:  center;
    margin: auto;
}

.imgenportada {
    width: 80%;
    padding-bottom: 3em;
    align-items: center;
    margin: 0 auto;
}

.texto {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 80%;
    margin: auto;
    font-size: 20px;
    align-items: flex-start;
}

.imagenes {
    flex-direction: row;
    width: 80%;
    justify-content: center;
    text-align: center;
    padding-bottom: 2em;
}

[alt*=mascleta1]{
    width: 35%;
}
[alt*=castillo]{
    width: 35%;
}
[alt*=bandas]{
    width: 60%;
    padding-bottom: 2em;
}
.imagenluces {
    width: 60%;
    padding-bottom: 2em;
}

/* principal */

/*Historia*/

.comillas{
    font-size: 82px;
    color:rgb(173, 123, 0);
}
.texto1{
    border-bottom: 1px solid rgb(173, 123, 0);
    border-top: 1px solid rgb(173, 123, 0);
}
.fallavieja{
    max-width: 60%;
    padding-left: 1em;
    padding-bottom: 2em;
    padding-top: 1.5em;
    margin:auto;
}
.fallavieja2{
    width: 40%;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 2em;
    padding-top: 1.5em;
}
.vieja_imagen{
    display:flex;
    justify-content: flex-end;
    margin-right: 2em;
    width: 80%;
}
.textovieja{
    margin-left: 2em;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}
.textovieja2{
    margin-left: 0.8em;
    margin-right: 1em;
    font-size: 20px;
   
}
/*Historia*/

/*Footer*/
.separator{
  display:flex;
  align-items: center;
}

.separator .line{
  height: 3px;
  flex: 1;
  background-color: #000;
}

.separator h2{
  padding: 0 2rem;
}





.social-icons{
    width: 33%;
}


.social{
  display : inline-block;
  width : 56px;
  height : 56px;
  padding : 8px;
  border-radius:100%;
  background-color : white;
  margin:10px;
  transition: all 0.5s ease-in-out;
}
.social svg{
  transition: transform 0.5s ease-out;
}
.social:hover{
  border-radius:10%;
  transform: rotate(405deg);
}
.social:hover svg{
  transform: rotate(315deg);
}

.facebook{
		fill: #3b5998;
}
.facebook:hover{
    fill:white;
    background: #3b5998;
}

.twitter{
	fill: #4099FF;
}
.twitter:hover{
  fill:white;
	background:#4099FF;
}
.googleplus{
	fill: #d34836;
}

.googleplus:hover{
  fill:white;
	background:#d34836;
}




.nueva1 {
    
    width: 33%;
}




.footer-padre {
   display: flex;
    justify-content: center;
    
}

.nueva2 {
    width: 33%;
}
/*Footer*/
@media screen and (max-width: 883px){
    .footer-padre{
        display:flex;
        flex-direction: column;
        align-items: center;
    
    } 
    .social-icons{
        display:flex;
        justify-content: center;
        width: 100%;
    }
}

/* hola */
/* @media screen and (max-width: 768px){
    .navegador ul{
        display:flex;
        flex-direction: column;
    }
    
} */




/*Que hacer*/


.titulo {
    display: flex;
    justify-content: center;

}

.padre img{
    margin-top: 3em;
    
    padding-right: 2em;
    
}

.actividades img {
  column-gap:2em;
}

.foto {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.padre {
 text-align: center;
}
/*Que hacer*/

/*actividades*/

.fotoportada{
    max-width: 70%;
}
.fotoportada1 {
    max-width: 70%;
}
.fotoportada2{
    max-width: 60%;
}
#videoofrenda{
    width: 45vw;
    height: 30vw;
}
.texto2{
    font-size: 25px;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 80%;
    margin: auto; 
}
.texto3{
    padding-bottom: 1em;
    width: 80%;
    margin: auto;
    font-size: 20px;
}
.texto4{
    padding-bottom: 1em;
    width: 80%;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}
.texto5{
    width: 80%;
    margin: auto;
    font-size: 20px;
}
.texto6{
    padding-top: 1em;
    width: 80%;
    margin: auto;
    font-size: 20px;
   
}
.texto7{
    padding-bottom: 1em;
    padding-top: 1em;
    width: 80%;
    margin: auto;
    font-size: 20px;
   
}
.portada2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    margin: auto;
}
.abonos{
    display:flex;
    justify-content: flex-start;
    
}

[alt*=Piscina]{
    margin-top:2em;
}
[alt*=hotel]{
    padding-top: 2em;
}
#aplicacion{
    margin-bottom: 0;
    margin-top: 2em;
}

.padre a:nth-child(2){
    text-decoration: none;
    color:white;  
    display: inline-block;    
    background-color:#ff6600; 
    margin-top:1em;
    padding: 10px 15px;
    border-radius: 5%;
}
.tituloh2{
    font-size: 35px;
}
.flecha_esp {
    position: fixed;
    bottom:0px;
    right:160px;
}

.flecha_fina {
    width: 50px;
    height: 50px;
}


/*actividades*/
/*carrusel*/
.slider{
    
    position:relative;
    width: 50%;
    margin: 1rem auto;
    text-align: center;
/*    height: 50%*/
/*    cuidado con el z index*/
}

.slider-slides{
    position: relative;
    height: 400px;
 
    
/*
    display: flex;
    flex: 0 1 40%;
*/
}

.slider-slides1{
    position: relative;
    height: 700px;
}

.slider-slide{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}
.slider-slide img{
    
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: 50% 50%;
/*
    
    width: 100%;
*/
}



.slider-slide.active{
    opacity: 1;
    visibility: visible;
}
.slider-btns{
/*    cuando se pone display absolute pierde su ancho por lo que hay que poner un width: del 100%*/
    width: 100%;
    position: absolute;
    top:50%;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: bold;
}


.slider a{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: thin solid #000;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

.slider a:hover{
    color:#4d4d4d;
}


/*carrusel*/

body{
    margin: 0;
    background-color: black;
}


.columna {

}

.pruebaA {
    display:flex;
    justify-content: flex-end;
    width: 80%;
    margin-right: 2em;
}

.pruebaB {
    flex:0 1 40%;
}
